@import url(https://fonts.googleapis.com/css?family=Merriweather);body {
  background: #eaeaea;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Merriweather", sans-serif;
  font-size: 5rem;
  font-weight: 900;
  height: 100vh;
  margin: 0;
  padding: 0; }

.astronomy-card {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 50px auto;
  max-width: 75vw; }
  .astronomy-card .astronomy-title {
    color: #6200ea;
    font-size: 18px;
    margin: 25px 0;
    padding: 15px 45px; }
  .astronomy-card .astronomy-image-wrapper {
    padding: 10px; }
    .astronomy-card .astronomy-image-wrapper img {
      cursor: pointer;
      -webkit-filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.45));
      filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.45));
      max-height: 500px;
      -webkit-transition: all 325ms ease-in-out;
      transition: all 325ms ease-in-out; }
      .astronomy-card .astronomy-image-wrapper img:hover {
        -webkit-transform: scale(1.07);
        transform: scale(1.07);
        -webkit-transition: all 325ms ease-in-out;
        transition: all 325ms ease-in-out; }
  .astronomy-card p {
    font-size: 12px;
    letter-spacing: .66px;
    line-height: 2;
    padding: 10px 50px; }
  .astronomy-card span {
    color: #311b92;
    font-size: 10px;
    margin: 20px 0; }
